{% extends 'blog/base.html' %}
{% block titulo %}{{autor}}{% endblock %}

{% block contenido %}
    
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li><a href="{% url 'detalle_post' pk=post.pk %}">{{post.titulo}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aún no tiene nada</p>
    {% endif %}
        
    <a href="{% url 'autores' %}">Volver</a>
    <a href="{% url 'autor_edit' pk=autor.pk %}">Editar Autor</a>
    <a href="{% url 'delete_autor' pk=autor.pk %}">Eliminar Autor</a>
{% endblock %}